@charset "utf-8";

/* This is the style for paragraphs */


.body-text{
	color: black;
	font-size: 19px;
}
/* This is the style for smooth scrolling */


html {
  scroll-behavior: smooth;
}

/* This section of code is to change the size/font/ colour of the links in the side nav */


	
	


/* This section of code is for the Back to Top button that will show up */


