@charset "utf-8";

/* This is the style for paragraphs */


.body-text{
	color: black;
	font-size: 19px;
}
/* This is the style for smooth scrolling */


html {
  scroll-behavior: smooth;
}

/* This section of code is to change the size/font/ colour of the links in the side nav */


	
	


/* This section of code is for the Back to Top button that will show up */



#myBtn1 {
	
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;

  text-align: center;
	padding: 15px;
	 cursor: pointer;
 

  background-color: white;
  	  transition: 0.7s;
 
}

#myBtn1:hover {
  background-color: #B01316;
 

}










/* This is my style for the Side nav bar*/

.SideNav{ 

background-color: #B2BEC0;
}


/* This is the style for the login and sign up button*/

 
.button{
	float:left;
}



.button1{
width: 100px;
margin: 15px auto;
position:relative;  
box-shadow: 0 0 20px 9px #FFFFFF;
border-radius: 30px;
background: transparent;
	  	  transition: 0.7s;
 

}

.button2{
width: 100px;
margin: 15px auto;
position:relative;  
box-shadow: 0 0 20px 9px #FFFFFF;
border-radius: 30px;
background: transparent;
	transition: 0.7s;
}



.button1 {
  background-color: #AF0205; 
  color: black; 
  border: 2px solid #282BB1;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}




.button2 {
  background-color: #AF0205; 
  color: black; 
  border: 2px solid #282BB1;
}

.button2:hover {
  background-color: #4CAF50;
  color: white;
}

/* This is part of the style is to make the back to top button have a colour transition */ 


.myBtn1 {
	float: right;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.myBtn1:hover {
  background-color: #3e8e41;
  color: white;
}


